div.picblock{
	position:relative;
	/*box-shadow: 0px 0px 20px #dfdfdf;*/
}
body{
	background:black;
	margin:0px;
	padding:0px;
}
h1{
	color:white;
	font-family: Helvetica, sans-serif;
	letter-spacing: 1px;
	font-variant : small-caps;
	text-shadow:0px 0px 13px white;
}
p{
	color:white;
	font-family: Century Gothic, sans-serif;
	letter-spacing: 1px;
	font-weight: lighter;
	text-shadow:0px 0px 25px white;
}

/*-----------------container------------------*/
#container{
	width: 1200px;
	height: 2600px;
	margin-left: auto;
	margin-right: auto;
	border: gray 1px dashed;
	/*background: green;*/
}
#test{
	height: 100px;
	width: 100px;
	background-color: red;
}

/*-----------------head------------------*/
#blockhead{}

#contenthead{
	position: absolute;
	right:220px;
	top:30px;
}

#contenthead p{
	font-size: 120px;
	color:transparent;
	font-family: Helvetica, sans-serif;
	font-variant : small-caps;
	text-shadow:none;
	letter-spacing: -3px;
	font-weight: bold;
	text-shadow:0px 0px 17px white;
}

#headpic{
	width:100%;
	display:block;
}


/*-----------------menubar1------------------*/
#menubar1{
	width: 70%;
	height: :400px;
	background: ;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;	
	position:relative;
	/*z-index: 50;*/
}
#menubar1 a{
			padding: 10px 35px;/*set these padding to widen the area of a tag which can be easily selected*/
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 19px;
			font-variant : small-caps;
			font-weight: bold;
			color:white; 
			text-decoration: none;
			line-height: 40px;
}
#menubar1 ul{
			height: 68px;
			margin: 0px;
			padding:0px;
			list-style: none;
}
#menubar1 li{	
			width:150px;
			height:40px;
			float:left;
			position:relative;
			text-align: center;		
			background:#333;
			margin-top: 14px;
			margin-bottom: 14px;		
			margin-left: 12px; 
			-webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;		
			}
#menubar1 ul li ul{
			padding-top: 10px;
			visibility: hidden;
			position: absolute;/*important:the whole secondary ul block is absolute*/

}
#menubar1 ul li ul li{
			width:150px;
			height:40px;
			margin: 0px;
			border-top: 2px solid black;
			float: right; 
			z-index: 120;
}
#menubar1 ul li ul li a{
			font-size: 12px;
			text-decoration: none;
			font-family: Helvetica, sans-serif;
			font-variant :none;
			font-weight: bold;
			color:white; 
			text-decoration: none;
			line-height: 40px;
		}

#menubar1 li:hover{
	background: #FF2A55;  
	color: white;
	text-shadow:0px 0px 18px white;
}
#menubar1 ul li ul li:hover{text-shadow:0px 0px 12px white;}
#menubar1 ul li:hover ul{visibility: visible;}

/*-----------------block1------------------*/
#block1{}
#content1{
	position: absolute;
	height: 50%;
	width: 38%;
	background-color:;
	left: 150px;
	top: 160px;
}
#LincolnMemNit{
	width: 100%;
	display:block;
}


/*-----------------block2------------------*/
#block2{}
#content2{
	position: absolute;
	height: 50%;
	width: 38%;
	background-color:;
	right: 55px;
	top: 120px;
}
#Cherry{
	width: 100%;
	display: block;
} 

/*-----------------block3------------------*/
#block3{}
#content3{
	position: absolute;
	height: 50%;
	width: 38%;
	background-color:;
	left:380px;
	bottom:-90px;
}
#WashingtonMem{
	width: 100%;
	display: block;
} 



.last li{
	background-color: red;
	width: 70px;
}

.last:hover li{
	background-color: white;
}

